<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Person</title>
</head>
<body>

<h1>Add Person</h1>

<form action="#" th:action="@{/people/add}" th:object="${person}" method="post">

    <label>First Name:</label>
    <input type="text" th:field="*{firstName}" required>
    <br><br>

    <label>Last Name:</label>
    <input type="text" th:field="*{lastName}" required>
    <br><br>

    <button type="submit">Save</button>

</form>

<br>

</body>
</html>
